body {
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
  font-family: 'Roboto', sans-serif !important;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

form:hover {
  transform: scale(1.02);
}

form div {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  color: #333;
  transition: border-color 0.3s;
}

form input:focus {
  border-color: #007bff;
  outline: none;
}

form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
  background-color: #5383b6;
  transform: scale(1.05);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.google-login-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.google-login-button {
  width: 100%;
}
